
.chartjs3 .caption
{
    margin-top: 10px;
    margin-bottom: 5px;
}
.chartjs3 .caption:empty
{
    display: none;
}

.chartjs3 .wrap
{
    position: relative;
}

#chartjs3-global-legend
{
    z-index: 1000;
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: white;
    padding: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
}

#chartjs3-global-legend > div
{
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    --border: 0px solid white;
    --background-color: white;
}

#chartjs3-global-legend > div:hover
{
    text-decoration: underline;
}

#chartjs3-global-legend > div > span
{
    border: 1px solid black;
    width: 30px;
    margin-right: 5px;
    border: var(--border);
    background-color: var(--background-color);
}