.authloginform table
{
	border: 1px solid black;
	border-collapse: collapse;
}

.authloginform table thead td
{
	font-weight: bold;
	border: 1px solid black;
	padding: 5px;
}

.authloginform table td
{
	padding: 3px;
}

.authloginform table td.buttonbar
{
	text-align: right;
}