div.whiteOverlay {
        background: url(dialog/overlay.png);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dialog/overlay.png", sizingMethod="scale");
    }
div.jqDrag {cursor: move;}

/* overwrite table.css */
table.dialog, table.dialog caption, table.dialog tr, table.dialog tr td
{
	border:0 !important;
}

.dialog {
  display: none;

    position: fixed;
    top: 20%;
    left: 50%;


    margin-left: -264px;
  	/*width: 488px;*/

  overflow: hidden;
  font-family:verdana, arial, helvetica, futura, sans-serif;
  text-align: left;
  font-size: 10pt;
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .dialog {
     position: absolute;
}

/* top row */
.dialog tr td.dlg_top_left {
	background-image: url(dialog/title_top_left.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 7px;
	height: 3px;
}
.dialog tr td.dlg_top_mid{
	background-image: url(dialog/title_top.gif);
	background-repeat: repeat-x;
	background-position: top left;
	width: 485px;
	font-size: 0px;
	padding-left: 5px;
	height: 5px;
}
.dialog tr td.dlg_top_right{
	background-image: url(dialog/title_top_right.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
	height: 3px;
}

/* title row */
.dialog tr td.dlg_title_left{
	background-image: url(dialog/title_wizard_top_left.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 7px;
	padding:0;
}
.dialog tr td.dlg_title_mid{
	background-image: url(dialog/title_wizard_top.png);
	background-repeat: repeat-x;
	background-position: top left;
	width: 485px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.dialog tr td.dlg_title_right{
	background-image: url(dialog/title_wizard_top_right.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
}

/* content row(s) */
.dialog tr td.dlg_content_left{
	background-image: url(dialog/content_left.gif);
	background-repeat: repeat-y;
	background-position: top left;
	width: 10px;
	padding:0;
}
.dialog tr td.dlg_content_mid{
	background-color: #F4F4F4;
	width: 485px;
	padding: 5px 10px;
	vertical-align: top;
	text-align: center;
}
.dialog tr td.dlg_content_mid input[type=button] {
    margin: 8px;
}
.dialog tr td.dlg_buttons {
	background-color: #F4F4F4;
	width: 485px;
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: center;
}
.dialog tr td.dlg_buttons input {
	width: 100px;
}

.dialog tr td.dlg_content_right{
	background-image: url(dialog/content_right.png);
	background-repeat: repeat-y;
	background-position: top left;
	width: 9px;
}

/* end row */
.dialog tr td.dlg_end_left{
	background-image: url(dialog/end_left.png);
	background-repeat: repeat-y;
	background-position: top left;
	width: 10px;
	height: 9px;
	padding:0;
}
.dialog tr td.dlg_end_mid{
	background-image: url(dialog/end_mid.png);
	background-repeat: repeat-x;
	background-position: top left;
	width: 485px;
	height: 9px;
}
.dialog tr td.dlg_end_right{
	background-image: url(dialog/end_right.png);
	background-repeat: repeat-y;
	background-position: top left;
	width: 9px;
	height: 9px;
}