.wdf_overlay
{
	background-color: black;
	opacity: 0.3;
}

.wdf_overlay_anim
{
	opacity: 1;
	background-image: url("loading.gif");
	background-position: center;
	background-repeat: no-repeat;
	height: 32px;
	clear: both;
}

.wdf_translator_hint
{
    border: 1px dotted black;
    padding: 3px;
    font: monospace;
    position: fixed;
    left: 0px; top: 0px;
    display: block;
    min-height: 50px;
    min-width: 200px;
    z-index: 100000;
    background-color: white;
}