.divtable { display: table; }

.divtable .caption { display: table-caption; font-weight: bold; }

.divtable .colgroup { display: table-column-group; }

.divtable .col { display: table-column; }

.divtable .thead { display: table-header-group; font-weight: bold; }

.divtable .tbody { display: table-row-group; }

.divtable .tfoot { display: table-footer-group; }

.divtable .tr { display: table-row; }

.divtable .td { display: table-cell; padding: 3px; }

.divtable .tr.odd { background-color: #F5F5F5; }
.divtable .tr.even { background-color: #C0C0C0; }
.divtable .td.indent
{
	padding-left: 16px !important;
    padding-right: 0px !important;
}

.divtable .td pre { font-family: Courier,monospace; margin: 0; }

.ui-table-actions > div { cursor: pointer; float:left; display: inline-block; width: 16px; }
.ui-table-actions > div.ui-state-hover { margin: -1px; }