.ac_results {
	background-color:white;
	border:1px solid #b1b1b1;
	overflow:hidden;
	padding:0;
	z-index:99999;
}
.ac_results ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}
.ac_results li {
	cursor:default;
	display:block;
	/*
	-x-system-font:menu;
	font-family:-moz-use-system-font;
	font-size:12px;
	font-size-adjust:-moz-use-system-font;
	font-stretch:-moz-use-system-font;
	font-style:-moz-use-system-font;
	font-variant:-moz-use-system-font;
	font-weight:-moz-use-system-font;
	*/
	line-height:16px;
	margin:0;
	overflow:hidden;
	padding:2px 5px;
}
.ac_loading {
	background:white url(loading.gif) no-repeat scroll right center;
}
.ac_odd {
	background-color:#f1f1f1;
}
.ac_over {
	background-color:#e3e3e3;
}